

@use 'styles/variables';
@use 'styles/shared';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
	font-family: var(--font-family);
	background: var(--background-color);
	margin: 0;
  padding: 0;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family);
	font-weight: 700;
	letter-spacing: 0.5px;
}

.card-title {
	font-size: 18px;
	font-weight: bold;
  }
  
  .card-metric {
	font-size: 32px;
	font-weight: bold;
  }

  .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
  }

  .mat-elevation-z8 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
  }

  .form-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
  }
  
  .mat-elevation-z8 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
  }

//   :root {
// 	--mdc-list-list-item-label-text-color: white;
// 	// --mdc-list-list-item-hover-background-color: #333; /* Darker background for hover */
// 	--mdc-list-list-item-hover-text-color: white; /* Ensure text remains white on hover */
//   }
mat-nav-list .mat-mdc-list-item:hover {

	.mdc-list-item__primary-text{color: var(--mdc-list-list-item-hover-text-color) !important;}
	// background-color: var(--mdc-list-list-item-hover-background-color) !important;
	
  }
  mat-nav-list .mdc-list-item:focus {
	.mdc-list-item__primary-text{color: var(--mdc-list-list-item-hover-text-color) !important;}
	outline: 2px solid #fff;
  }